@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Cabin');

:root {
  --primary: #b0bec5;
  --secondary: #bf360c;

  --primary-light: #e2f1f8;
  --secondary-light: #f9683a;

  --primary-dark: #808e95;
  --secondary-dark: #870000;
}

h1, h2, h3, h4 {
  font-family: 'Cabin', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.menu-text {
  font-family: 'Cabin', sans-serif;
  margin-top: 8px;
  font-size: 28px;
}

#top-menu, li {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary);
  padding: 5px;
}

body {
  background-color: var(--primary-light);
}

.button {
  background-color: var(--secondary);
  margin: 1em;
  border-radius: 2px;
}

.button:hover {
  background-color: var(--secondary-dark);
}

.caption {
  font-size: 10px;
}

img {
  width: 800px;
  height: 550px;
}

.summit {
  padding-top: 10px;
}

a.link-text {
  color: black;
}

a.highlight-link {
  color: var(--secondary-dark);
}

a.highlight-link:hover {
  color: var(--secondary)
}

.highlights {
  background-color: var(--primary-light);
}

object {
  width: 100%;
  height: 100%;
}

.welcome {
  text-align: center;
}

.page-content {
  padding: 10px 10px 10px 20px;
}
